$font-khand-regular: "KhandRegular";
@font-face {
  font-family: $font-khand-regular;
  src: url($asset-dir + 'fonts/khand_regular/KhandRegular.eot');
  src: url($asset-dir + 'fonts/khand_regular/KhandRegular.eot') format('embedded-opentype'),
  url($asset-dir + 'fonts/khand_regular/KhandRegular.woff2') format('woff2'),
  url($asset-dir + 'fonts/khand_regular/KhandRegular.woff') format('woff'),
  url($asset-dir + 'fonts/khand_regular/KhandRegular.ttf') format('truetype'),
  url($asset-dir + 'fonts/khand_regular/KhandRegular.svg#' + $font-khand-regular) format('svg');
}
